<!DOCTYPE html>
<html lang="fr" ng-app="meetingRoomApp">
    <head>
        <meta charset="utf-8" />
        <title>Reservation de salles de reunion</title>
        <link rel="stylesheet" href="web/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body>
        <header>
            <h1>Reservation de salles de reunion</h1>
        </header>
        <section ng-controller="reservationCtrl">

            <div class="lead">
                Les reservations sont faites de 8 a 18h et peuvent etre prevues jusqu'a une semaine a l'avance
                </br>
                Attention les horaires sont arrondis au quart d'heure le plus proche
            </div>
           <form id="search-room" ng-submit="findReservation()">

                <label for="capacity">Combien de personnes allez-vous etre ?</label>
                <input id="capacity" type="number" class="form-control" ng-model="capacity" ng-change="findRoom(capacity, wantedEquipements)" min="2" />
                <br/>
                <label for="equipementsList">Quel equipement vous faut-il ?</label>
                <select id="equipementsList" class="form-control" ng-model="wantedEquipements" ng-change="findRoom(capacity, wantedEquipements)" multiple>
                    <option ng-repeat="possibleEquipement in possibleEquipements" value="{{possibleEquipement}}">{{possibleEquipement}}</option>
                </select>
                <br/>

                <label for="reservation-day">Quel jour voulez vous reserver ?</label>
                <input id="reservation-day" class="form-control" type="date" ng-model="reservationDay" />
                <br/>
                <label for="start-time">Quelle est l'heure de debut de la reservation ?</label>
                <input id="start-time" class="form-control" type="time" ng-model="startTime" />
                <br/>
                <label for="end-time">Quelle est l'heure de fin de la reservation ?</label>
                <input id="end-time" class="form-control" type="time" ng-model="endTime" />
                </br>
                <button class="btn btn-info" type="submit">Chercher</button>

            </form>

            <div><strong>{{message}}</strong></div>

            <article ng-show="enabledRooms.length">
                <div id="matching-group" class="list-group">
                    <button class="lex-column align-items-start list-group-item list-group-item-action" ng-repeat="room in enabledRooms" ng-click="reserveRoom(room)">
                        <h5>{{room.description}}</h5>
                        <div>Capacite: {{room.capacity}}</div>
                        <div ng-show="room.equipements.length">
                            <div>Equipements de la salle:</div>
                            <ul class-"list-group">
                                <li class="list-group-item" ng-repeat="equipement in room.equipements">
                                    <div>
                                    {{equipement}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div ng-show="!room.equipements.length">
                            Pas d'equipements particulier
                        </div>
                    </button>
                </div>
            </article>
        </section>
    </body>
</html>
