header h1{
	text-align:center;
}

p{
	margin:20px;
	margin-top:100px;
}

section {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 80px 10% 40px;
	border: 1px solid #ccc;
	position: relative;
	padding: 20px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
	width:80%;
	min-width: 500px;
}
article{
	margin:0px!important;
}
@media(max-width: 850px){
	section{
		margin-left:20px;
	}
}
